<div>
	<h2>Hi JimmyBoh, welcome to {{name}} Angular 2!</h2>
	<p>The time is {{time}}.</p>
	<div class="dropdown">
		<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
			Dropdown <span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><a href="javascript: void(0);">Action</a></li>
			<li><a href="javascript: void(0);">Another action</a></li>
			<li><a href="javascript: void(0);">Something else here</a></li>
			<li role="separator" class="divider"></li>
			<li><a href="javascript: void(0);">Separated link</a></li>
		</ul>
	</div>
	<router-outlet></router-outlet>
</div>